<h1>Questions#answer</h1>
<div class='banner'>
  <h2>Question: <%= @question %></h2>
  <p> - You </p>
  <h2>Answer: <%= @answer %></h2>
  <p> - Coach </p>
</div>

<h3><%= link_to "Ask a new question", ask_path %></h3>
